{% extends "layout/base.html" %}
{% block content %}
    <h1>Attractions Page</h1>
    <!-- Flash Message -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <h5 class="center-align">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!-- Attraction Records are looped onto the page -->
    {% if attractions|length > 0 %}
        {% for attraction in attractions %}
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-md-10">
                    <div class="card">
                        <img class="card-img-top" src="{{ attraction.image }}" alt="{{ attraction.attraction_name }}">
                        <div class="card-body">
                            <h3 class="card-title"><b>{{ attraction.attraction_name }}</b></h3>
                            <p class="card-text">{{ attraction.location }}</p>
                            <p class="card-text">{{ attraction.description }}</p>
                            <div class="row">
                                <div class="col">
                                    <p class="card-text" ><b>Free:</b> {{ attraction.free }}</p>
                                </div>
                                <div class="col">
                                    <p class="card-text"><b>Pre-Booking Required:</b> {{ attraction.pre_booking_required }}</p>
                                </div>
                                <div class="col">
                                    <p class="card-text"><b>Suitable for Children:</b> {{ attraction.suitable_for_children }}</p>
                                </div>
                            </div>
                            {% if session.user %}
                            <div class="row">
                                <div class="col">
                                    <a href="{{ url_for('edit_attraction', attraction_id=attraction._id) }}" class="btn btn-primary">Edit Attraction</a>
                                    <a href="{{ url_for('delete_attraction', attraction_id=attraction._id) }}" class="btn btn-danger">Delete Attraction</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <h2><b>No Results were found. Please try Again!</b></h2>
        </div>
    {% endif %}
{% endblock %}