{% extends "layout/base.html" %}
{% block content %}
    <h1>Attractions Page</h1>
    {% for attraction in attractions %}
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top" src="{{ attraction.image }}">
                <div class="card-body">
                    <h5 class="card-title">{{ attraction.attraction_name }}</h5>
                    <p class="card-text">{{ attraction.location }}</p>
                    <p class="card-text">{{ attraction.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}