{% extends "layout/base.html" %}
{% block content %}
<div id="home-image">
    <section>
        <div class="jumbotron">
            <div class="container">
                <div class="search">
                    <form action="{{ url_for('search') }}" method="POST">
                        <h1>My Next Adventure</h1>
                        <div>
                            <input type="search" name="target" id="searchbar" class="search" autocomplete="off" placeholder="Desired Location..." minlength="3">
                            <button id="searchbutton" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}