{% extends "layout/base.html" %}
{% block content %}
    <div id="home-image">
        <div class="row">
            <h1>My Next Adventure</h1>
        </div>
        <div class="row">
            <form>
                <input type="search" class="searchattraction" autocomplete="off" placeholder="Desired Location..." >
                <button id="search" class="search" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" type ="checkbox" id="free" value="1">
                <label class="form-check-label" for="free">Free</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type ="checkbox" id="prebooking" value="2">
                <label class="form-check-label" for="prebooking">Pre-Booking Required</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type ="checkbox" id="children" value="3">
                <label class="form-check-label" for="children">Suitable for Children</label>
            </div>
        </div>
    </div>
{% endblock %}