{% extends "layout/base.html" %}
{% block content %}
    <h2>{{ title }}</h2>
    <section>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="row">
                      <h5 class="center-align">{{ message }}</h5>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </section>
    <div class="card" id="registerform">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form method="POST" action="{{ url_for('register') }}">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" minlength="3" maxlength="10" pattern="^[a-zA-Z0-9]{3,10}$" required class="validate">
            </div>
            <div class="form-group">
                <label for="userpassword">Password</label>
                <input type="password" id="userpassword" name="userpassword" placeholder="Password" minlength="3" maxlength="10" pattern="^[a-zA-Z0-9]{3,10}$" required class="validate">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Password" minlength="3" maxlength="10" pattern="^[a-zA-Z0-9]{3,10}$" required class="validate">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Register</button>
          </form>
          <div>
            <p class="small">Have an account? Please login <a href="{{ url_for('login') }}">here.</a></p>
          </div>
        </div>
    </div>
{% endblock %}