/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Home Page */

body {
    font-size: 20px;
}

#home-image {
    background-image: url('../images/home-image.jpg');
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 90vh;
}

.search {
    align-content: center;
    width:75%;
}

.form-check {
    color: white;
    align-items: center;
}

li {
    display: inline;
  }

li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #538D22 ; 
    color: white;
}

footer {
    color: white;
    text-align: center;
    background-color: #4F74E3;
    padding-top: 5px;
}

.contactform {
    max-width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    padding-block-start: 20px;
    padding-block-end: 30px;
}

#registerform {
    max-width: 50%;
    align-content: center;
    margin-left: 10%;
    margin-top: 30px;
    padding: auto;
}