/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

li {
    display: inline;
  }

li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #538D22 ; 
    color: white;
  }

  footer {
    color: white;
    text-align: center;
    background-color: #4F74E3;
  }
