<footer>
    <div class="container-fluid">
        <li><a href="https://www.instagram.com/" target="_blank" rel="nofollow" class="fab fa-instagram"></a></li>
        <li><a href="https://www.facebook.com/" target="_blank" rel="nofollow" class="fab fa-facebook-square"></a></li>
        <li><a href="https://www.youtube.com/" target="_blank" rel="nofollow" class="fab fa-youtube"></a></li>
        <li><a href="https://www.twitter.com/" target="_blank" rel="nofollow" class="fab fa-twitter"></a></li>
    </div>
    <div>
        <p>Created By Shane O'Sullivan</p>
    </div>
</footer>