<section>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <ul>
                <li><a href="{{ url_for('home')  }}">My Next Adventure</a></li>
                <li><a href="{{ url_for('attractions') }}">Attractions</a></li>
                <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('dashboard', username=session['user']) }}">Dashboard</a></li>
                    <li><a href="{{ url_for('attraction', username=session['user']) }}">Add Attraction</a></li>
                    <li><a href="{{ url_for('logout', username=session['user']) }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</section>